* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: default;
    position:fixed; // disable iOS elastic scroll
}

#root {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: #f7f8fa;
}

.center-block {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 40px;
}

.white-box {
    padding: 20px;
    background-color: #fff;
}